$accent: #7abc64;
$accent-hover: #64a64e;

$first-font: "Mulish", sans-serif;
$second-font: "Open Sans", sans-serif;

$color1: #494c4e;
$color2: #7799ad;

$box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);

$trans-time: 0.5s;
